@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

/* Hide scrollbars across all viewports while retaining smooth touch & mouse scroll */
.ios-scrollbar,
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.ios-scrollbar::-webkit-scrollbar,
.no-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

